<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Film Reviews</title>
	<link th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,700}"
          rel='stylesheet' type='text/css' />
	<link href="../static/css/reviewsLayout.css" th:href="@{/css/reviewsLayout.css}" rel="stylesheet" />

</head>
<body>
	<h1>Film Reviews</h1>
	 <hr />
	
	<div class="flex-container">
	<div class="review" th:each="review: ${reviews}">
		<ul>
		 <a th:href="@{/review(id=${review.Id})}">
			<li>
				<!--<img th:src="@{${'/images/' + review.imageUrl + '.jpg'}}"/> -->
				<img th:src="@{${'/images/' + review.imageUrl}}"/>
				<!--<img th:src="@{${review.imageUrl}}"/> -->
				<h4 th:text="${review.title}"></h4>
				<p th:text="${'Category: ' + review.category}"></p>
			</li>
			</a>
		</ul>
	</div>
	</div>
</body>
</html>